// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
