/* color palette from <https://github.com/vuejs/theme> */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;400;700;900&display=swap");
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);

@import "./mixins.scss";
@import "./card.scss";
@import "./navbar.scss";
@import "./heading.scss";
@import "./footer.scss";
@import "./input.scss";
@import "./catering.scss";

:root {
  --clr-text: hsl(0, 0%, 0%);
  --clr-text-black: hsl(0, 0%, 0%);
  --clr-text-white: hsl(0, 0%, 100%);
  --clr-background: #e9e9e9;
  --clr-background-mute: #d0d0d0;
  --clr-primary: rgb(89, 99, 84);
  --clr-secondary: #4a6053;
  --clr-accent: #cc5803;
  --clr-accent-mute: #aa4a06;

  --primary-gradient: linear-gradient(
    90deg,
    rgba(120, 135, 114, 1) 0%,
    rgba(74, 96, 83, 1) 100%
  );
  --secondary-gradient: linear-gradient(to left, #f1fded 0%, #f5fdf2 100%);
  --box-shadow: 0px 5px 15px 5px rgba(74, 96, 83, 0.25);

  --ff-base: "Lato", sans-serif;
  --ff-heading: "Bebas Neue", sans-serif;

  --fs-200: clamp(0.56rem, calc(0.87rem + -0.4vw), 0.79rem);
  --fs-300: clamp(0.8rem, calc(0.92rem + -0.16vw), 0.89rem);
  --fs-400: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --fs-500: clamp(1.13rem, calc(0.96rem + 0.81vw), 1.59rem);
  --fs-600: clamp(1.48em, calc(0.96rem + 2.91vw), 2.25rem);
  --fs-700: clamp(2.58rem, calc(0.89rem + 3.56vw), 3.58rem);
  --fs-800: clamp(1.6rem, calc(0.59rem + 5.04vw), 4.5rem);
  --fs-900: clamp(1.8rem, calc(0.22rem + 7.93vw), 6.36rem);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: hsl(20, 6%, 90%);
    --clr-background: hsl(0, 7%, 3%);
    --clr-background-mute: hsl(0, 7%, 15%);
    --clr-primary: #344c6c;
    --clr-secondary: #3cc4cc;
    --clr-accent: #db5461;
    --clr-accent-green: #3bc14a;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-base);
  line-height: 1.6;
  font-size: var(--fs-400);
  color: var(--clr-text);

  background: var(--clr-background);

  /* min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1,
h2 {
  font-family: var(--ff-heading);
  line-height: 1;
  letter-spacing: 1px;
}

h1 {
  font-size: var(--fs-800);
  color: var(--clr-text);
}

h2 {
  font-size: var(--fs-700);
  color: var(--clr-primary);
  text-align: center;
}
h3 {
  font-family: var(--ff-base);
  font-size: var(--fs-600);
  font-weight: 700;
  color: var(--clr-text);
}

.strong {
  font-weight: 700;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

// ::marker {
//   color: var(--clr-accent);
// }

.btn {
  margin: 0.75rem 0;
  cursor: pointer;
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  line-height: 1;

  &-primary {
    background: var(--clr-primary);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: 0.5s;
    color: var(--clr-text-white);
    width: fit-content;

    a {
      color: var(--clr-text-white);
    }

    &:hover,
    &:focus {
      background: var(--clr-secondary);
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
      transform: scale(1.02);
      a {
        color: var(--clr-background);
      }
    }
  }

  &-inline {
    text-align: right;
    a {
      text-decoration: auto;
    }
  }
}

.container {
  max-width: 1600px;
  grid-column: full-width;
  margin: 5rem auto;
  padding: 0 0.5rem;
  position: relative;

  @include md {
    padding: 0 1rem;
  }

  &.wrapper {
    max-width: 80ch;

    > * + * {
      margin-top: 1em;
    }
  }

  &.image-wrapper {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: 80ch auto;

    h2,
    p {
      margin-top: 1em;
    }

    img {
      border-radius: 8px;
      box-shadow: var(--box-shadow);
    }
  }
}

.dark {
  // margin-bottom: -100px;
  background: var(--secondary-gradient);
  padding: 4rem 0;
  margin: 2rem 0;
}
