$primary-color: #788772;
$secondary-color: #fff;
$off-primary-color: #4a6053;
$off-white-color: #e9e9e9;
$off-black-color: #1e1e1e;
$primary-gradient: linear-gradient(90deg, rgba(120, 135, 114, 1) 0%, rgba(74, 96, 83, 1) 100%);
$max-width: 1115px;
$ft-bebas: "Bebas Neue", sans-serif;
$ft-lato: "Lato", sans-serif;
