---
// Import Layouts
import BaseHeading from "../layouts/BaseHeading.astro";
import NavBar from "../layouts/NavBar.astro";
import Footer from "../layouts/Footer.astro";
// Import components
import RiderGezocht from "../components/RiderGezocht.astro";
import GalleryBlock from "../components/GalleryBlock.astro";
import ExpertBlock from "../components/ExpertBlock.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "The Ribtastic Brothers - De lekkerste spareribs!";
---

<html lang="en">
  <head>
    <BaseHeading title={title} />
  </head>

  <body>
    <NavBar />
    <header class="homeHeader">
      <div class="container fullImageHeader">
        <h1>De lekkerste Spareribs</h1>
        <h2>Op een festival of catering!</h2>
        <div class="cta">
          <a href="/catering" class="btn btn-primary">
            Boek nu
            <span class="fas fa-utensils"></span>
          </a>
        </div>
      </div>
      <!-- <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div> -->
    </header>
    <main>
      <!-- <RiderGezocht /> -->

      <div class="container">
        <div class="row">
          <div class="navigation">
            <h3>Ga naar:</h3>
            <ul>
              <li><a href="/catering">Catering</a></li>
              <li><a href="/over-ons">Over ons</a></li>
              <li><a href="/galerij">Galerij</a></li>
              <li><a href="/werken">Werken bij</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="about">
            <h1 style="text-align: left">The Ribtastic Brothers</h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
              totam eius reprehenderit quia! Possimus, commodi optio. Ab
              deserunt error deleniti necessitatibus modi facere, vitae ullam
              numquam nesciunt itaque neque expedita voluptatum dolor
              perspiciatis, sapiente voluptatem. Aliquid, iste accusamus impedit
              voluptatibus minus neque quaerat aliquam, sunt eius excepturi
              quisquam dignissimos adipisci!
            </p>
          </div>
        </div>
      </div>
    </main>

    <GalleryBlock />
    <ExpertBlock />
    <Footer />
  </body>
</html>
