---
// Import Layouts
import BaseHeading from "../layouts/BaseHeading.astro";
import NavBar from "../layouts/NavBar.astro";
import Footer from "../layouts/Footer.astro";
import HeaderImage from "../components/HeaderImage.astro";

let title = "Over Ons - The Ribtastic Brothers";
let headerURL =
  "https://ribtastic-brothers.s3.eu-west-2.amazonaws.com/static/ribtastic_brothers_catering+(1).jpg";
let heading = {
  title: "Over ons",
  subtitle: "Onze 4 peilers tot succes",
};
---

<html lang="en">
  <head>
    <BaseHeading title={title} />
  </head>

  <body>
    <NavBar />
    <HeaderImage image={headerURL} header={heading} />

    <main>
      <div class="page-nav">
        <ul class="page-nav--list">
          <li class="page-nav--item">Direct naar:</li>
          <li class="page-nav--item">
            <a href="#"> Smaak</a>
          </li>
          <li class="page-nav--item"><a href="#">Service</a></li>
          <li class="page-nav--item"><a href="#">Samen</a></li>
          <li class="page-nav--item"><a href="#">Sensatie</a></li>
          <li class="page-nav--item"><a href="#">Geschiedenis</a></li>
        </ul>
      </div>
      <div class="container">
        <div>
          <p>
            Een belangrijk onderdeel van een gezond en geluk leven is het hebben
            van “meaningfull relationships”. En zeg nu eerlijk, wat is nu een
            beter moment om lekker te socializen? Precies, lekker tijdens het
            eten. In veel culturen is men zelfs niets anders gewend; eten doe je
            samen.
          </p>
          <p>
            Tijdens het eten onderhouden we onze vriendschappen en
            familierelaties. Wij geloven daarom in het geluk van gezamenlijk
            eten en willen niets liever dan mensen samenbrengen met onze unieke
            BBQ creaties.
          </p>
          <p>Waar wacht je nog op? Invite your friends and organize a BBQ!</p>
        </div>
        <div class="trbValues">
          <a href="/service">
            <div class="trbValues__Value">
              <div class="trbValues__Value--ValueText">
                <h3>Service</h3>
                <p>
                  Wij geloven in het genot van lekker eten en persoonlijke
                  aandacht. Het is ons doel om gasten een smaakbeleving te
                  bezorgen, door ze kennis te laten maken met onze unieke BBQ
                  creaties.
                </p>
              </div>
              <div class="link">Lees meer...</div>
            </div>
          </a>
          <a href="/smaak">
            <div class="trbValues__Value">
              <div class="trbValues__Value--ValueText">
                <h3>Smaak</h3>
                <p>
                  Taste is everything! We werken daarom enkel met
                  kwaliteitsproducten, nemen onze tijd in de bereiding en maken
                  onze gerechten af met zelfgemaakte bijpassende sauzen. Heb jij
                  ze al eens geprobeerd?
                </p>
              </div>
              <div class="link">Lees meer...</div>
            </div>
          </a>
          <a href="/sensatie">
            <div class="trbValues__Value">
              <div class="trbValues__Value--ValueText">
                <h3>Sensatie</h3>
                <p>
                  Ribtastic Brothers are like no others. Met ons enthousiast
                  team en uniek zelfgemaakte BBQ bakfiets maken we er altijd een
                  feestje van. Vanuit dit grillmonster kunnen we volledig
                  zelfvoorzienend onze heerlijke creaties bereiden.
                </p>
              </div>
              <div class="link">Lees meer...</div>
            </div>
          </a>
          <a href="/samen">
            <div class="trbValues__Value">
              <div class="trbValues__Value--ValueText">
                <h3>Samen</h3>
                <p>
                  Samen genieten, betekend samen zorg dragen. Alles wat we doen,
                  doen we daarom met een duurzame gedachte. Dit zie je terug in
                  de materialen die we gebruiken en de CO2 die we jaarlijkse
                  compenseren.
                </p>
              </div>
              <div class="link">Lees meer...</div>
            </div>
          </a>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
