---
import NavBar from '../layouts/NavBar.vue'
import Footer from '../layouts/Footer.astro'
import BaseHeading from '../layouts/BaseHeading.astro'
import HeaderImage from '../components/HeaderImage.astro'
import SmallGallery from '../components/SmallGallery.astro'

let title = 'Samen - The Ribtastic Brothers';
let heading = {
    title: 'Samen',
        subtitle: 'May you always be surrounded by\ngood friends and awesome BBQ',
}
let headerURL = 'https://ribtastic-brothers.s3.eu-west-2.amazonaws.com/static/ribtastic_brothers_samen.jpg'

const images= [
        { src: 'catering_foodtruck_spareribs-min.jpg', alt: 'header1' },
        { src: 'header_1.jpg', alt: 'header2' },
        { src: 'header_2.jpg', alt: 'header3' },
      ]


---

<html lang="en">
    <head>
        <BaseHeading title={title} />
    </head>
    <body>
      <NavBar client:load />
 <HeaderImage image={headerURL} header={heading}/>
<section>
    
    <div class="container-fluid">
      <p>
        Een belangrijk onderdeel van een gezond en geluk leven is het hebben van
        “meaningfull relationships”. En zeg nu eerlijk, wat is nu een beter
        moment om lekker te socializen? Precies, lekker tijdens het eten. In
        veel culturen is men zelfs niets anders gewend; eten doe je samen.
      </p>
      <p>
        Tijdens het eten onderhouden we onze vriendschappen en familierelaties.
        Wij geloven daarom in het geluk van gezamenlijk eten en willen niets
        liever dan mensen samenbrengen met onze unieke BBQ creaties.
      </p>
      <p>Waar wacht je nog op? Invite your friends and organize a BBQ!</p>
    </div>

     <SmallGallery images={images} /> 
    <div class="container-fluid">
      <h2>Duurzaamheid</h2>
      <p>
        Samen genieten, is tevens samen zorgdragen. Zorgen voor het opruimen,
        zorgen voor de afwas, zorgen voor het minimaliseren van je afval en het
        beperken van jouw impact op het milieu. Wij van Ribtastic Brothers,
        dragen ons steentje hierin bij. Duurzaamheid zit diep in onze vezels.
        Alles wat we doen, doen we met een duurzame gedachte.
      </p>
      <p>
        Alle producten en materialen die we gebruiken zijn zoveel mogelijk
        duurzaam. Dat zie je terug in de materialen die we hebben gebruikt voor
        het maken van onze fiets, in de biologisch afbreekbare verpakkingen en
        de CO2 die we jaarlijks compenseren.
      </p>
      <p>
        Wij nemen de verantwoordelijkheid om duurzaam te ondernemen, zodat we
        samen nog lang kunnen genieten van onze aardkloot.
      </p>
      <div class="btn btn-line">
        <a href="/catering">Catering</a>
      </div>
    </div>
    <div class="container-fluid" id="erkend-leerbedrijf">
    <h2>Erkend leerbedrijf</h2>
    <p>
    Naast meaningfull relationships, geloven wij ook sterk in meaningfull work. Als je genoeg voldoening haalt uit je werk, ga je met meer plezier naar je werk en presteer je beter. Wij besteden daarom graag onze tijd in het trainen en opleiden van onze medewerkers, zodat het resultaat meer is dan enkel een financiële vergoeding.
</p><p> Gezamenlijk zoeken we naar de sterke eigenschappen van een persoon en proberen deze kracht bij te zetten door nieuwe verantwoordelijkheden en taken te laten uitvoeren, gecombineerd met coaching on the job.
</p>
<p>
 Als erkend leerbedrijf creëren wij een passende leeromgeving voor iedereen die zich graag wil ontwikkelen naast zijn/haar werk.
    </p>
    </div>
  </section>

   <footer>
            <Footer/>
        </footer>
    </body>
</html> 