---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      {title}
    </h2>
    <p class="card-text">
      {body}
    </p>
  </div>
  <a href="catering" class="card-footer"> Offerte aanvragen</a>
</div>
