---
---

<div class="container">
  <h1>Gallerij</h1>

  <div class="gallery-wrapper">
    <img src="https://via.placeholder.com/100x200" alt="" srcset="" />
    <img src="https://via.placeholder.com/200x100" alt="" srcset="" />
    <img src="https://via.placeholder.com/300x200" alt="" srcset="" />
    <img src="https://via.placeholder.com/200x300" alt="" srcset="" />
    <img src="https://via.placeholder.com/300x300" alt="" srcset="" />
    <img src="https://via.placeholder.com/400x400" alt="" srcset="" />
  </div>
</div>
