---
const {image, header} = Astro.props
---

  <div class="imgHeader">
    <img src={image} class="imgHeader__image" />

    <div class="imgHeader__heading">
      <h1>{ header.title }</h1>
      <h2>{ header.subtitle}</h2>
    </div>
  </div>