---

---

<nav>
  <div class="navbar">
    <div class="brand-logo">
      <a href="/">
        <img src="/logo.png" alt="The Ribtastic Brothers Logo" class="logo" />
      </a>
    </div>

    <ul class="nav-links">
      <li class="nav-item">
        <a href="/catering"> Catering</a>
      </li>
      <li class="nav-item">
        <a href="/contact"> Contact</a>
      </li>
    </ul>
  </div>
</nav>
