---

---

<nav>
  <div class="navbar">
    <div class="brand-logo">
      <img
        src="/TRB_Corporate_Logo_White_DEF.png"
        alt="The Ribtastic Brothers Logo"
        class="logo"
      />
    </div>

    <ul class="nav-links">
      <li class="nav-item">Catering</li>
      <li class="nav-item">Contact</li>
    </ul>
  </div>
</nav>
