---

---

<section class="riderGezochtSecion">
    <div class="container riderGezocht">
      <div class="riderGezocht__icon">
        <span class="fas fa-bicycle"></span>
      </div>
      <div class="riderGezocht__text">
        <h1>Personeel gezocht!</h1>
        <p>
          Wil jij werken bij het restaurant wat bekend staat om de beste
          spareribs en de unieke ribsalon? We zijn op zoek naar extra fietsers,
          maar ook nieuwe collega's in de keuken! Bij intresse neem
          <a href="/contact">contact</a> met ons op!
        </p>    
      </div>
    </div>
  </section>