---
const { title, subtitle, id } = Astro.props;
---

<div id={id} class="section-divider">
  <span class="divider-heading"></span>
  <div class="divider-body">
    <h2>{title}</h2>
    <p>{subtitle}</p>
  </div>
</div>

<style lang="scss">
  @mixin block-line($line-heigth) {
    content: "";
    display: block;
    width: 100%;
    background: rgb(120, 135, 114);
    background: var(--primary-gradient);
    height: $line-heigth;
  }
  .section-divider {
    margin: 2rem 0 1rem;
  }
  .divider-heading {
    @include block-line(15px);
  }

  .divider-body {
    background: rgba(0, 0, 0, 1);
    padding: clamp(1.5rem, 2vmax, 4rem) 0;
    margin-bottom: 2rem;
  }

  .divider-body h2,
  .divider-body p {
    color: var(--clr-text-white);
    text-align: center;
  }

  .divider-body p {
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
  }
</style>
