.formCatering {
  display: flex;
  flex-direction: column;

  margin: 2em 0;
  padding: 1.5em 2.5em;

  background: $off-black-color;
  border-radius: 15px;
  font-size: 0.75em;

  h2 {
    margin-bottom: 0.7em;
  }

  label {
    margin-bottom: 0.35em;
  }
  input,
  select {
    margin-bottom: 1em;

    background: #212121;
    border: 1px solid #4a6053;
    border-radius: 10px;
    padding: 0.8em;
    color: #fff;
    font-family: $ft-lato;
  }

  button {
    margin: 1em 0;
  }

  input:focus,
  select:focus {
    box-shadow: 0 0 10px $primary-color, 0 0 2px #4a6053;
    outline: none;
  }
}

@media (min-width: 650px) {
  .formCatering {
    margin: 2em;

    button {
      max-width: 50%;
      margin: auto;
    }
  }
}
