h1,
h2 {
  font-family: $ft-bebas;
  letter-spacing: 0.75px;
  text-align: center;
}

h3 {
  font-family: $ft-bebas;
  color: $primary-color;
}

h4,
p {
  font-family: $ft-lato;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
  color: #fff;
}

h2 {
  font-size: 2.2em;
  color: $primary-color;
}
