nav {
  margin-top: 1.5rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  .container {
    display: flex;
    padding: 0;
    a {
      margin: auto;
      grid-column: 3/4;
      img {
        width: 90px;
      }
    }

    .menuBars {
      align-self: center;
    }
  }
}
.nav-wrapper {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 9999;
  padding: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  .nav-item {
    position: relative;

    &--link {
      position: absolute;
      background: $primary-color;
      border-radius: 30px 0 15px;
      bottom: 0;
      right: 0;
      padding: 1rem 2rem;

      &:hover {
        cursor: pointer;
        .nav-item--text {
          padding-bottom: 1px;
          border-bottom: 1px solid white;
        }
        span {
          transform: translateX(12px);
          transition: 0.5s ease-in-out;
        }
      }

      .nav-item--text {
        display: inline;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 0.75rem;
      }
      span {
        margin-left: 0.8rem;
      }
    }
    > img {
      width: 450px;
      height: 550px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 15px;
    }
  }

  ul {
    padding: 0;

    > li {
      list-style-type: none;
      margin: 0.5rem 0;

      > a {
        font-size: 2rem;
        text-transform: uppercase;
        font-family: $ft-bebas;
        color: $off-white-color;
      }

      &:hover {
        border-bottom: 2px solid $primary-color;
        margin-bottom: -2px;
      }
    }
  }
}

//   .topNav {
//     position: relative;
//     justify-content: center;
//     align-items: center;

//     background: rgba(0, 0, 0, 0.7);
//     padding: 0.6em 0;
//     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);

//

//     @media (min-width: 650px) {
//       .menuBars {
//         display: block;
//         justify-self: end;
//         align-self: center;
//         margin-right: 1em;
//       }
//     }

//     .firstEvent {
//       display: none;
//     }

//     @media (min-width: 650px) {
//       .firstEvent {
//         position: absolute;
//         right: 0;
//         bottom: 0;
//         top: 0;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         padding: 0 2em;
//         background: rgba(120, 135, 112, 0.7);

//         font-size: 1rem;
//         text-transform: uppercase;

//         p {
//           font-size: 0.75em;
//           font-weight: 200;
//         }

//         span {
//           font-weight: bold;
//         }
//       }
//     }
//   }

//   .bottomNav {
//     background: rgba(0, 0, 0, 0.8);
//     box-shadow: 0 -5px 4px rgba(48, 48, 48, 0.5);
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &.hidden {
//       display: none !important;
//       transition: opacity 3s ease-out;
//       opacity: 0;
//     }

//     .navList {
//       max-width: $max-width;
//       margin: auto;
//       list-style: none;
//       justify-content: space-evenly;
//       padding: 1em 0 1.8em;
//       text-transform: uppercase;
//       box-sizing: border-box;

//       li.list-item a {
//         font-size: 2em;
//         display: inline-block;
//         align-items: center;
//         grid-row-gap: 3px;
//         margin: 2rem;

//         text-decoration: none;
//         color: white;

//         &:hover,
//         &:active {
//           color: $secondary-color;
//         }
//         span {
//           justify-self: center;
//         }
//       }
//       .mob-hid {
//         display: none;
//       }
//     }
//   }
//   @media (min-width: 650px) {
//     .bottomNav {
//       display: inherit;
//       position: relative;
//       background: $primary-color;
//       box-shadow: 0 5px 8px rgba(256, 256, 256, 0.2);
//       opacity: 1;
//       height: 100%;
//       &.second {
//         background: $off-primary-color;
//       }

//       .navList {
//         padding: 0.5em 0;
//         display: flex;
//         .mob-hid {
//           display: inherit;
//         }
//         li.list-item a {
//           margin: 0;
//           font-size: 0.8em;
//           display: inline;
//         }
//         span {
//           margin: 0 0.3rem;
//         }
//       }
//     }

//   }
