---
import EventBlock from '../components/EventBlock.vue'
const date = new Date().getFullYear()
---

<section class="events">
    <div class="container">
        <h1>Agenda {date}</h1>
        <EventBlock client:load />
    </div>
</section>
