---
const date = new Date().getFullYear()
---

    <div class="container">
      <div class="footer__sectionA">
        <img src="../assets/img/logo.png" alt="Ribtastic Brothers Logo" />
        <div class="leerbedrijf">
        <a href="/samen#erkend-leerbedrijf">
        <img src="../assets/img/erkendLeerbedrijf.png" alt="Ribtastic Leerbedrijf">
        </a>
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com/The-Ribtastic-Brothers-682838975445979/"
            target="_blank"
          >
            <span class="fab fa-facebook"></span>
          </a>
          <a href="http://www.instagram.com/ribtastic_brothers/" target="_blank">
            <span class="fab fa-instagram"></span>
          </a>
          <a
            href="mailto:eat@ribtasticbrothers.nlsubject=Website Contact The Ribtastic Brothers"
          >
            <span class="fas fa-envelope"></span> 
          </a>
        </div>
        <div class="copyright">
            Copyright &copy 2019 - {date} 
        </div>
      </div>
      <div class="footer__links">
        <div class="links__about">
          <h2>Over Ribtastic</h2>
          <ul>
            <li>
              <a href="/smaak" class="about-link">Smaak</a>
            </li>
            <li>
              <a href="/sensatie" class="about-link">Sensatie</a>
            </li>
            <li>
              <a href="/samen" class="about-link">Samen</a>
            </li>
            <li>
              <a href="/catering" class="about-link">Catering</a>
            </li>
            <li>
              <a href="/galerij" class="about-link">Galerij</a>
            </li>
            <li>
              <a href="https://bestellen.ribtasticbrothers.nl/"> Bezorging</a>
            </li>
            <li>
              <a href="/contact" class="about-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  