---
const date = new Date().getFullYear();

// import "https://static.trustoo.nl/widget/widget_v2.js";
---

<footer>
  <div class="footer footer__section-A">
    <div class="left">
      <div class="left__info">
        <img
          src="../assets/img/logo.png"
          alt="Ribtastic Brothers Logo"
          class="footer_logo"
        />

        <blockquote>
          Haven't had such good ribs in a long time! The secret sauce is as
          tasty as they describe on their website.
        </blockquote>
        <div class="buttons">
          <a href="/over-ons" class="btn btn-primary">meer weten</a>
          <a href="/samen#erkend-leerbedrijf" class="btn leerbedrijf">
            <img
              src="../assets/img/erkendLeerbedrijf.png"
              alt="Ribtastic Leerbedrijf"
              class=""
            />
          </a>
          <div
            class="trustoo-widget"
            data-id="141820"
            data-language-code="nl"
            data-country-code="NL"
            data-badge="hidden"
            data-quote="default"
            data-reviews="default"
            data-size="large"
            data-type="landscape"
            data-border="hidden"
            data-theme="dark"
            data-background="transparent"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right__image">
        <img
          src="../assets/img/beste_ribs_ribtastic.jpg"
          alt="Beste Spareribs van Ribtastic Brothers"
          class="right__image--image"
        />
      </div>
    </div>
  </div>
  <div class="footer footer__section-B">
    <div>
      <h4>Volg ons altijd en overal</h4>
      <div class="socials">
        <a
          href="https://www.facebook.com/The-Ribtastic-Brothers-682838975445979/"
          target="_blank"
        >
          <span class="fab fa-facebook"></span>
        </a>
        <a href="http://www.instagram.com/ribtastic_brothers/" target="_blank">
          <span class="fab fa-instagram"></span>
        </a>
        <a
          href="mailto:eat@ribtasticbrothers.nlsubject=Website Contact The Ribtastic Brothers"
        >
          <span class="fas fa-envelope"></span>
        </a>
        <a href="tel:+31643172071"><span class="fas fa-phone"></span></a>
      </div>
    </div>
  </div>
  <div class="footer footer__section-C">
    <div class="copyright">
      The Ribtastic Brothers, Copyright &copy 2019 - {date}. Design by
      ZweersDesign
    </div>
  </div>
</footer>

<script async src="https://static.trustoo.nl/widget/widget_v2.js"></script>;
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
  type="text/javascript"
  src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
