---
import bbqSmokerImage from "../assets/img/jon-tyson-kctt4tL1dkE-unsplash.jpg";
import foodtruckImage from "../assets/img/matt-nelson-cTyVIvzQslE-unsplash.jpg";

const { breadcrumb: data } = Astro.props;

let breadcrumb = [];
if (data) {
  breadcrumb = data;
}
---

<nav class="Navbar">
  <div class="topNav">
    <div class="topNav--left">
      <a href="/">
        <img
          src="../../assets/img/logo.png"
          alt="Ribtastic Brothers Logo"
          class="Navbar-Brand"
        />
      </a>
      {breadcrumb.map((i) => <span> {i}</span>)}
    </div>
    <div class="topNav--links">
      <div class="topNav--links_text">menu</div>
      <span class="fas fa-bars menuBars"></span>
    </div>
  </div>
</nav>
<div class="nav-wrapper hidden">
  <span class="fas fa-times close-nav"></span>
  <div class="nav-item">
    <img src={bbqSmokerImage} alt="" class="nav-item--image" />
    <div class="nav-item--link">
      <a href="/catering">
        <div class="nav-item--text">Catering</div>
        <span class="fas fa-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="nav-item">
    <img src={foodtruckImage} alt="" class="nav-item--image" />
    <div class="nav-item--link">
      <a href="https://bestellen.ribtasticbrothers.nl/" target="_blank">
        <div class="nav-item--text">Bezorging</div>
        <span class="fas fa-arrow-right"></span>
      </a>
    </div>
  </div>
  <ul class="navList">
    <li class="list-item">
      <a href="/over-ons">Over ons</a>
    </li>
    <li class="list-item">
      <a href="/galerij">Galerij</a>
    </li>

    <li class="list-item">
      <a href="/werken">Werken bij</a>
    </li>
    <li class="list-item">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</div>

<script>
  const navBarButton = document.querySelector(".topNav--links");
  const navBarWrapper = document.querySelector(".nav-wrapper");
  const closeNavWrapper = document.querySelector(".close-nav");

  navBarButton.addEventListener("click", () => {
    console.log(navBarWrapper.classList);
    navBarWrapper.classList.remove("hidden");
  });

  closeNavWrapper.addEventListener("click", () => {
    console.log("object");
    navBarWrapper.classList.add("hidden");
  });
</script>
